<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html dir="ltr" lang="en-US"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Arbin Bulaybulay</title>
	<meta name="description" content="Arbin Bulaybulay - Software Engineer, Singer-Songwriter, Footballer, Chef" />

	<!-- Google Web Fonts
  ================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two:700|Bree+Serif|Muli' rel='stylesheet' type='text/css'>

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS Stylesheets
  ================================================== -->
	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/resets.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/mystyle.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/media-queries.css" type="text/css" media="screen" />

	<link rel="stylesheet" href="{{ MEDIA_URL }}/css/prettyPhoto.css" type="text/css" media="screen"/> <!-- Image Gallery -->

	<!--[if lt IE 9]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="js/selectivizr.min.js"></script>
	<![endif]-->

	<!-- Javascript
  ================================================== -->
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
	<!-- <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script> -->
	<!-- <script src="js/supersized.js"></script> -->
	<script src="{{ MEDIA_URL }}/js/tweet.js"></script>
	<!-- <script src="js/countdown.min.js"></script> -->
	<!-- <script src="js/prettyphoto.js"></script> -->

	<style>

		#head  {
			background:#f1d5d5;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

	</style>

</head>
<body>

	<header id="head">

		<div class="inner">
			<a href="#" class="logotext square"><h1>Arbin Bulaybulay</h1></a>
			<div class="details right">

				<div class="message">

					<!-- Static text -->
					<p class="medium">Software Engineer, Singer-Songwriter, Footballer, Chef</p>
					
				</div>

				<!-- <div class="calltoaction">
			      <a href="#">Download</a>
			      <p class="top">click to begin</p>
			      <p class="bottom">1.2MB .zip</p>
			    </div> -->

				<!-- Newsletter -->
				<!--<form class="newsletter" id="subscribe">
					<input type="email" id="email" name="email" class="email" placeholder="Enter your email..." /> <button>Notify Me</button>
					<p class="note">We won't spam you. Pinky swear.</p>
				</form>-->

			</div>
		</div>

	</header>

	<section class="body">
		<div class="inner">

				<div id="extra">

					<div class="block">
						<h2 class="heading"><span class="left"><strong>My Portfolio</strong></span></h2>
						<p class="small">Web Apps built using Python/Django, MySql, SQLite, HTML5, CSS3, jQuery, Javascript.</p>

						<ul class="features">
							<li>
								<div class="hexagon"><span class="time"></span></div>
								<p>
									<strong>QRCoder</strong>
									FREE QR Code generator.
								</p>
							</li>
							<li>
								<div class="hexagon"><span class="stats"></span></div>
								<p>
									<strong>GottenCard</strong>
									FREE Card Creator for Discount Card, ID Card, Business Card, VIP Card.
								</p>
							</li>
							<li>
								<div class="hexagon"><span class="idea"></span></div>
								<p>
									<strong>PosterFast</strong>
									FREE Poster Creator for Home, School and Business Use.
								</p>
							</li>
							<li>
								<div class="hexagon"><span class="idea"></span></div>
								<p>
									<strong>Holisticab</strong>
									A Simple Collection of Alternative Medicine.
								</p>
							</li>
						</ul>
					</div>

					<div class="block">

						<h2 class="heading"><span class="left"><strong>Contact me</strong></span></h2>

						<form class="contact" id="contact">

								<div class="form">
									<input type="text" name="name" placeholder="Name" id="contactname" />
									<input type="text" name="email" placeholder="Email" id="contactemail" />
									<textarea name="message" placeholder="Message" id="contactmessage"></textarea>
									<button>Contact</button>
								</div>

								<ul>
									<li class="phone"><span>Phone:</span> +639066608271</li>
									<li class="email"><span>Email:</span> <a href="mailto:arbin@pysoldev.com">arbin@pysoldev.com</a></li>
								</ul>
						</form>
					</div>

					<div class="block">
						<h2 class="heading"><span class="right"><strong>Image Gallery</strong></span></h2>
						<ul class="gallery">
							<li><a href="/img/slider/1.jpg" rel="prettyPhoto[gallery]"><img src="img/slider/3.jpg" /></a></li>
							<li><a href="/img/slider/2.jpg" rel="prettyPhoto[gallery]"><img src="img/slider/2.jpg" /></a></li>
							<li><a href="/img/slider/3.jpg" rel="prettyPhoto[gallery]"><img src="img/slider/3.jpg" /></a></li>
							<li><a href="/img/slider/4.jpg" rel="prettyPhoto[gallery]"><img src="img/slider/2.jpg" /></a></li>
							<li><a href="/img/slider/5.jpg" rel="prettyPhoto[gallery]"><img src="img/slider/3.jpg" /></a></li>
							<li><a href="/img/slider/2.jpg" rel="prettyPhoto[gallery]"><img src="img/slider/2.jpg" /></a></li>
						</ul>
					</div>

					

				</div>

				<ul class="social">
					<li class="twitter"><a href="#">Twitter</a></li>
					<li class="facebook"><a href="#">Facebook</a></li>
					<li class="vimeo"><a href="#">Vimeo</a></li>
					<li class="skype"><a href="#">skype</a></li>
					<li class="git"><a href="#">Git</a></li>
					<li class="linkedin"><a href="#">Linkedin</a></li>
					<li class="youtube"><a href="#">Youtube</a></li>
				</ul>

				<div class="tweet"></div>

				<div class="copyright">
					<p>&copy; 2013 <a href="http://pysoldev.com/arbin">Arbin Bulaybulay</a>.</p>
				</div>

		</div>
	</section>

	<script src="{{ MEDIA_URL }}/js/mycore.js?asdasdasd"></script>
</body>
</html>