{% extends "base.html" %}
{% block yield %}
				<div id="extra">
					<div class="block" id="about">
						<h2 class="heading"><span class="left"><strong>About Us</strong></span></h2>
						<p class="small">Pysoldev is a web development shop in the Philippines, specializing Python/Django as main development tool.  We provide full-stack software engineers to cater your needs from small to large scale projects, consultation, project analysis, design and development and even project maintenance.  We are experts in our domain, utilizing current technologies for your advantage.</p>

						
					</div>
                                        <div class="block">
						<h2 class="heading"><span class="left"><strong>Why Hire a Pysoldev Engineer?</strong></span></h2>

						<ul>
							<li><strong>- Python and Django experts and talented software engineers</strong></li>
                                                        <li><strong>- Best practices with PEP8 and Code review</strong></li>
                                                        <li><strong>- Agile software development methodology</strong></li>
                                                        <li><strong>- Flexible working schedule</strong></li>
                                                        <li><strong>- We are good communicator, we speak excellent english</strong></li>
                                                        <li><strong>- Quality and reasonable price performance </strong></li>							
						</ul>
					</div>
                                        
					<div class="block" id="apps">
						<h2 class="heading"><span class="left"><strong>Services</strong></span></h2>
						<p class="small">We're committed to develop apps the way you want it. Our passion is creating high quality, custom products. And we do it well.</p>

						<ul>
							<li><strong>- Custom Web Application Development</strong></li>
                                                        <li><strong>- Web Design and User Experience</strong></li>
                                                        <li><strong>- Web Application Support and Maintenance</strong></li>
                                                        <li><strong>- Consultancy</strong></li>
                                                        <li><strong>- Optimization</strong></li>
                                                        <li><strong>- Code Review, Refactoring and Cleaning Code</strong></li>
                                                        <li><strong>- Systems Administration</strong></li>							
						</ul>
					</div>
					
                                        <div class="block" id="portfolio">
						<h2 class="heading"><span class="left"><strong>Portfolio</strong></span></h2>
						<p class="small">Apps to help your work more effective and efficient</p>

						<ul>
                                                        <li><strong><a href="http://aloeveraofforever.com">Aloe Vera of Forever</a></strong></li>
							<li><strong><a href="http://qrcodemaker.co">QR Code Maker</a> (In Progress)</strong></li>
                                                        <li><strong><a href="http://jobscited.com">Jobscited </a>(In Progress)</strong></li>
                                                        						
						</ul>
					</div>

					<div class="block" id="pricing">
						<h2 class="heading"><span class="left"><strong>Pricing</strong></span></h2>
						<p class="small">We provide our consultancy services at a flat hourly rate of 15 USD regardless of the type of service. Payment methods include Paypal and Bank transfer.</p>
                                        </div>
						
					
                                        <div class="block" id="team">
						<h2 class="heading"><span class="center"><strong>Meet the Team</strong></span></h2>
						<ul class="team">
							<li>
								<img src="{{ MEDIA_URL }}/img/arbin.png" alt="Arbin Bulaybulay">
								<a href="/en/arbin"><span class="name">Arbin</span></a>
								<span class="role"> Founder / Full-Stack Software Engineer </span>
<p>Loves to bake oats cookies and giant pizzas, plays soccer during weekends, write songs and play his guitar, create music videos and direct a film, love dogs and painting which is his first love.</p>
								<ul class="social">
									<li class="twitter"><a href="http://twitter.com/arbinbulaybulay">Twitter</a></li>
									<li class="facebook"><a href="https://www.facebook.com/noy.bulay">Facebook</a></li>
									<li class="git"><a href="http://github.com/arbin">Git</a></li>
                                                                        <li class="linkedin"><a href="http://ph.linkedin.com/in/arbinbulaybulay">Linkedin</a></li>
								</ul>
							</li>
							<li>
								<img src="{{ MEDIA_URL }}/img/ron.png" alt="Ron Selby">
								<span class="name">Ron</span>
								<span class="role"> Co-Founder / Finance </span>
								<p>Ron works as an accountant while founding Pysoldev. He loves running and nature hopping.</p>
								<!--<ul class="social">
									<li class="twitter"><a href="#">Twitter</a></li>
									<li class="facebook"><a href="#">Facebook</a></li>
									
								</ul> -->
							</li>
							<li>
								<img src="{{ MEDIA_URL }}/img/jerol.png" alt="Jerol Adorable">
								<span class="name">Jerol</span>
								<span class="role">Full-Stack Software Engineer</span>
								<p>Jerol hacked the web and desktop applications. Can be your database and a system administrator in one room.</p>
								<ul class="social">
									<li class="twitter"><a href="http://twitter.com/jerol2k3">Twitter</a></li>
									<li class="facebook"><a href="https://www.facebook.com/jerol.adorable">Facebook</a></li>
									<li class="git"><a href="http://github.com/jerol2k3">Git</a></li>
                                                                        <li class="linkedin"><a href="http://www.linkedin.com/pub/jerol-adorable/5/904/bbb">Linkedin</a></li>
								</ul>
							</li>
							<li>
								<img src="{{ MEDIA_URL }}/img/bob.png" alt="Bobby Maghanoy">
								<span class="name">Bobby</span>
								<span class="role">Full-Stack Software Engineer</span>
								<p>Bob, has great passion in UI/UX design and a database guru.</p>
								<ul class="social">
									<li class="twitter"><a href="http://twitter.com/centurybrains">Twitter</a></li>
									<li class="facebook"><a href="https://www.facebook.com/bobmaghanoy">Facebook</a></li>
                                                                        <li class="linkedin"><a href="http://www.linkedin.com/pub/bobby-mahoney/57/18a/884">Linkedin</a></li>
								</ul>
							</li>
						</ul>
						<ul class="team">	
							<li>
								<img src="{{ MEDIA_URL }}/img/ray.png" alt="Ray Anthony C. Leong">
								<span class="name">Ray</span>
								<span class="role">Web Designer</span>
								<p>Ray is an experienced web developer who contributed in an early years of Pysoldev that inspired the team to improved its design.</p>
								<ul class="social">
                                                                        <li class="twitter"><a href="http://twitter.com/rcleong">Twitter</a></li>
									<li class="facebook"><a href="https://www.facebook.com/rayve.leong">Facebook</a></li>
									
								</ul>
							</li>	
							<li>
								<img src="{{ MEDIA_URL }}/img/luke.png" alt="Luke Selby">
								<span class="name">Luke</span>
								<span class="role">Graphics and Web Designer</span>
								<p>Luke has won numerous award in designing and committed to great designs.</p>
								<ul class="social">
									<li class="facebook"><a href="https://www.facebook.com/luke.yebles">Facebook</a></li>
									
								</ul>
							</li>
							<li>
								<img src="{{ MEDIA_URL }}/img/elai.png" alt="Prescila Culaste">
								<span class="name">Elai</span>
								<span class="role">Virtual Assistant - SEO and Social Media</span>
								<p>Elai loves cooking from pastries to commercial menus.</p>
								<ul class="social">
									<li class="facebook"><a href="https://www.facebook.com/elai.culaste">Facebook</a></li>
									<li class="twitter"><a href="http://twitter.com/@shylle_endz">Twitter</a></li>
									
								</ul>
							</li>
						</ul>
					</div>


					<div class="block" id="contact">
						<h2 class="heading"><span class="center"><strong>Contact Us</strong></span></h2>
						<p>Send us a message about your needs, it is all fully encrypted. If you leave an email address or phone number we'll respond to you as soon as possible.</p>
						<form class="contact" id="contact" action="{% url home %}" method="post">{% csrf_token %}

							
								<div class="form">
{{ form }}
									<textarea name="message" placeholder="Type your email address and message" id="contactmessage"></textarea>
									<button>Contact</button>
								</div>

								<ul>
									<li class="address">
										<span>Address:</span>
										<address>
											Canlas Subdivision Colon Extension,<br /> 
											Dumaguete City, <br />
											Philippines,<br />
										</address>
									</li>
									<li class="phone"><span>Phone:</span> (035) 422-8203</li>
									<li class="email"><span>Email:</span> <a href="mailto:arbin@pysoldev.com">info@pysoldev.com</a></li>
									<li class="map">
										<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.ph/maps?hl=en&amp;q=dumaguete+city&amp;ie=UTF8&amp;hq=&amp;hnear=City+of+Dumaguete,+Negros+Oriental,+Central+Visayas&amp;gl=ph&amp;t=m&amp;z=13&amp;ll=9.295552,123.281494&amp;output=embed"></iframe>
									</li>
								</ul>
						</form>
					</div>

				</div>

<script type="text/javascript">
$('.js-captcha-refresh').click(function(){
    $form = $(this).parents('form');

    $.getJSON($(this).data('url'), {}, function(json) {
        // This your should update captcha image src and captcha hidden input
    });

    return false;
});
</script>

{% endblock %}
				