{% extends "base.html" %}
{% block yield %}
				<div id="extra">
					<div class="block" id="apps">
						<h2 class="heading"><span class="left"><strong>Apps Coming Soon</strong></span></h2>
						<p class="small">We're committed to develop apps that are useful and that will solve your problem.</p>

						<ul class="features">
							<li>
								<div class="hexagon"><span class="time"></span></div>
								<p>
									<strong>Spaally</strong>
									A mobile spa booker and queuer.
								</p>
							</li>
							<li>
								<div class="hexagon"><span class="stats"></span></div>
								<p>
									<strong>Jobscited</strong>
									A social recruitment platform for hiring managers to hire fast, save time and money.
								</p>
							</li>
							<li>
								<div class="hexagon"><span class="idea"></span></div>
								<p>
									<strong>Holisticab</strong>
									A simple collection of alternative medicine.
								</p>
							</li>
							<li>
								<div class="hexagon"><span class="idea"></span></div>
								<p>
									<strong>eCertificateGift</strong>
									Electronic Gift Certificate Maker
								</p>
							</li>
							<li>
								<div class="hexagon"><span class="edit"></span></div>
								<p>
									<strong><a href="http://qrcoder.pysoldev.com">QRCoder</a></strong>
									A QR coder for everyday use.
								</p>
							</li>
							<li>
								<div class="hexagon"><span class="comments"></span></div>
								<p>
									<strong>CardsMachine</strong>
									Simple card creator for discount card, ID cards, business cards, VIP cards.
								</p>
							</li>
							<li>
								<div class="hexagon"><span class="comments"></span></div>
								<p>
									<strong>PosterFaster</strong>
									Simple poster creator for home, school and business use.
								</p>
							</li>
						</ul>
					</div>



					<div class="block" id="team">
						<h2 class="heading"><span class="center"><strong>Meet the Team</strong></span></h2>
						<ul class="team">
							<li>
								<img src="{{ MEDIA_URL }}/img/arbin.png" alt="Arbin Bulaybulay">
								<a href="/arbin"><span class="name">Arbin Bulaybulay</span></a>
								<span class="role">FOUNDER, CEO</span>
<p>He who loves to bake oats cookies and create giant pizzas, occasionally play soccer during weekends, write songs and play his guitar in his up times and down times, 
create music videos and direct a film, walking with his dogs in the morning and do painting which is his first love.</p>
								<ul class="social">
									<li class="twitter"><a href="http://twitter.com/arbinbulaybulay">Twitter</a></li>
								</ul>
							</li>
							<li>
								<img src="{{ MEDIA_URL }}/img/profile_pic.png" alt="Ron Selby">
								<span class="name">Ron Selby</span>
								<span class="role">CO-FOUNDER, Business</span>
								<p>Ron works as an accountant while founding Pysoldev. He loves running and nature hopping.</p>
								<!--<ul class="social">
									<li class="twitter"><a href="#">Twitter</a></li>
									<li class="facebook"><a href="#">Facebook</a></li>
									<li class="git"><a href="#">Git</a></li>
								</ul> -->
							</li>
							<li>
								<img src="{{ MEDIA_URL }}/img/jerol.png" alt="Jerol Adorable">
								<span class="name">Jerol Adorable</span>
								<span class="role">SOFTWARE ENGINEER, TECHNOLOGY</span>
								<p>Jerol has built web and desktop applications and has been devoting his time in learning new technologies.</p>
								<!--<ul class="social">
									<li class="twitter"><a href="#">Twitter</a></li>
									<li class="git"><a href="#">Git</a></li>
								</ul> -->
							</li>
							<li>
								<img src="{{ MEDIA_URL }}/img/bobby.png" alt="Bobby Maghanoy">
								<span class="name">Bobby Maghanoy</span>
								<span class="role">SOFTWARE ENGINEER, PRODUCTS</span>
								<p>Bob, a software engineer who has passion in great UI/UX design.</p>
								<!-- <ul class="social">
									<li class="facebook"><a href="#">Facebook</a></li>
									<li class="git"><a href="#">Git</a></li>
								</ul> -->
							</li>
						</ul>
						<ul class="team">	
							<li>
								<img src="{{ MEDIA_URL }}/img/profile_pic.png" alt="Ray Anthony C. Leong">
								<span class="name">Ray Anthony C. Leong</span>
								<span class="role">Web Designer</span>
								<p>Ray is an experienced web developer who contributed in an early years of Pysoldev that inspired the team to improved its design.</p>
								<!-- <ul class="social">
									<li class="facebook"><a href="#">Facebook</a></li>
									<li class="git"><a href="#">Git</a></li>
								</ul> -->
							</li>
						</ul>
					</div>

					<div class="block" id="technology">
						<h2 class="heading"><span class="center"><strong>Technology</strong></span></h2>
						<p class="small">We use cutting-edge technologies.</p>

						<ul class="features">
							<li>
								<div><img src="{{ MEDIA_URL }}/img/python.png"></div>
								<p>
								
								</p>
							</li>
							<li>
								<div><img src="{{ MEDIA_URL }}/img/django.png"></div>
								<p>
									
								</p>
							</li>
							<li>
								<div><img src="{{ MEDIA_URL }}/img/jquery.png"></span></div>
								<p>
									
								</p>
							</li>
							<li>
								<div ><img src="{{ MEDIA_URL }}/img/html5.png"></span></div>
								<p>
									
								</p>
							</li>
							<li>
								<div><img src="{{ MEDIA_URL }}/img/mysql.png"></span></div>
								<p>
									
								</p>
							</li>
							<li>
								<div><img src="{{ MEDIA_URL }}/img/github.png"></span></div>
								<p>
									
								</p>
							</li>
														
						</ul>
					</div>
					
					<div class="block" id="contact">
						<h2 class="heading"><span class="center"><strong>Contact Us</strong></span></h2>
						<p>Send us a message about anything, it is all fully encrypted. If you leave an email address or phone number We'll respond to you as soon as possible.</p>
						<form class="contact" id="contact" action="{% url home %}" method="post">{% csrf_token %}
							
								<div class="form">
									<textarea name="message" placeholder="Type your email address and message" id="contactmessage"></textarea>
									<button>Contact</button>
								</div>

								<ul>
									<li class="address">
										<span>Address:</span>
										<address>
											Canlas Subdivision Colon Extension,<br /> 
											Dumaguete City, <br />
											Philippines,<br />
										</address>
									</li>
									<li class="phone"><span>Phone:</span> (035) 422-8203</li>
									<li class="email"><span>Email:</span> <a href="mailto:arbin@pysoldev.com">arbin@pysoldev.com</a></li>
									<li class="map">
										<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.ph/maps?hl=en&amp;q=dumaguete+city&amp;ie=UTF8&amp;hq=&amp;hnear=City+of+Dumaguete,+Negros+Oriental,+Central+Visayas&amp;gl=ph&amp;t=m&amp;z=13&amp;ll=9.295552,123.281494&amp;output=embed"></iframe>
									</li>
								</ul>
						</form>
					</div>

				</div>
{% endblock %}
				